// Calculate Grid Size
@function columsize($colNumber)
	@return percentage($colNumber / $gridColums)

// Calculate Offset
@function offset($colNumber)
	@return percentage($colNumber / $gridColums)	


// Calculate Columssize (for margin grid)
$columsizeMargin:  (100 - (($gridColums - 1) * $gridGutterSize)) / $gridColums


@mixin gridContainer
	@if $siteContainer == true
		.container
			@if $sitePosition == center
				margin: 0 auto
			@if $sitePosition == left
				margin-left: $siteMargin + 0px
			@if $sitePosition == right
				+right
				margin-right : $siteMargin + 0px
			@if $siteMinWidth != false
				width     : 100%
				max-width : $siteMaxWidth + 0px
				min-width : $siteMinWidth + 0px
				@if $responsiveSupportIE8IE7 != true
					.lt-ie9 &
						width: $unresponseWidth + 0px
						max-width : $unresponseWidth + 0px
						min-width : $unresponseWidth + 0px
			@else
				width : $siteMaxWidth + 0px

			.row
				+pie-clearfix
				@if $sitePadding != false
					margin-left  : $sitePadding + 0px
					margin-right : $sitePadding + 0px
					.row
						margin-left  : 0
						margin-right : 0
	@else
		.row
			+pie-clearfix
			@if $sitePosition == center
				margin : 0 auto
			@if $sitePosition == left
				margin-left : $siteMargin + 0px
			@if $sitePosition == right
				+right
				margin-right : $siteMargin + 0px

			@if $siteMinWidth != false
				width     : 100%
				max-width : $siteMaxWidth + 0px
				min-width : $siteMinWidth + 0px
				@if $responsiveSupportIE8IE7 != true
					.lt-ie9 &
						width: $unresponseWidth + 0px
						max-width : $unresponseWidth + 0px
						min-width : $unresponseWidth + 0px

			@else
				width : $siteMaxWidth + 0px

			.row
				width     : auto
				min-width : 0
				max-width : none



// Establish the layoutrules for Colums
@mixin gridColum
	[class^="col-"],[class*=" col-"],.colum
		+left
		+relative
		+pie-clearfix
		min-height: 1px
		@if $gridGutter == padding
			@if $gridGutterSize > 0
				@if $supportNewBoxModel == true
					// +box-sizing(border-box)
					padding-left  : $gridGutterSize / 2 + 0px
					padding-right : $gridGutterSize / 2 + 0px
				@else
					.innerColum
						padding-left  : $gridGutterSize / 2 + 0px
						padding-right : $gridGutterSize / 2 + 0px

			&:last-child
				float: right
			&.only
				float: left
			&.end
				float: right

		@else 
			margin-right : $gridGutterSize + 0%
			&:last-child
				margin-right : 0
				float        : right

			&.only
				float        : left
				margin-right : 0

			&.end
				float        : right
				margin-right : 0

		&.center
			float  : none
			margin : 0 auto

// Semantic Mixin for GridColumSize
@mixin gridColumSize($colnumber)
	@if $gridGutter == padding
		width: columsize($colnumber)
	@if $gridGutter == margin
		width : $columsizeMargin * $colnumber + ($gridGutterSize * ($colnumber - 1)) + 0%

// Mixin for generate all Columns
@mixin gridAllColums
	@if $gridGutter == padding
		@for $i from 1 through $gridColums
			.col-#{$i}
				width: columsize($i)
	@if $gridGutter == margin
		@for $i from 1 through $gridColums
			.col-#{$i}
				width      : $columsizeMargin * $i + ($gridGutterSize * ($i - 1)) + 0%

// Mixin for Padding Boxes that float over the Rows
@mixin gridColumOffPadding
	[class^="col-"],[class*=" col-"],.colum
		&:first-child
			margin-left  : 0 - ($gridGutterSize / 2) + 0px
		&:last-child
			margin-right : 0 - ($gridGutterSize / 2) + 0px

// Offset Mixin 
@mixin gridColumOffset($colnumber)
	@if $gridGutter == padding
		margin-right: columsize($colnumber) + 0%
	@if $gridGutter == margin
		margin-right: ($columsizeMargin + $gridGutterSize) * $colnumber + 0%


// Generate all Offset Mixins
@mixin gridAllOffset
	@for $i from 1 through ($gridColums - 1)
		.offset-#{$i}
			+gridColumOffset($i)

// Mastermixin to establish a full Grid
@mixin gridGenerate
	+gridContainer
	+gridColum
	+gridAllColums
	@if $gridOffsetOption == true
		+gridAllOffset

// Mixin for Grid Testing
@mixin gridTest
	[class^="col-"],[class*=" col-"],.colum
		+box-shadow(0 0 1px rgba(0,0,0,0.4))
		.innerColum
			+box-shadow(0 0 1px red)

// Normalize all gridcolums
@mixin gridNormalize
	@if $siteContainer != false
		.container
			max-width: 100%
			min-width: 0
	@else
		.row
			max-width: 100%
			min-width: 0

	[class^="col-"],[class*=" col-"],.colum
		float: none
		width: inherit
		@if $gridGutter == margin
			margin-right : 0
		&.only,&:last-child,&.center
			float        : none
			margin-right : 0
	@if $gridOffsetOption
		[class^="offset-"],[class*=" offset-"]
			margin-right: 0

// Easy Grid System
@mixin easyGrid($prefix: easygrid, $size: 60, $gutter: 10)
	+pie-clearfix

	@if length($gutter) == 1
		margin-left  : 0 - (($gutter / 2) + 0px)
		margin-right : 0 - (($gutter / 2) + 0px)
	@if length($gutter) == 2
		margin-left  : 0 - ((nth($gutter,1) / 2) + 0px)
		margin-right : 0 - ((nth($gutter,1) / 2) + 0px)
	
	.#{$prefix}
		float        : left
		@if length($size) == 2
			width  : nth($size,1) + 0px
			height : nth($size,2) + 0px

		@if length($size) == 1
			width        : $size + 0px
		@if length($gutter) == 1
			margin-left  : ($gutter / 2) + 0px
			margin-right : ($gutter / 2) + 0px
		@if length($gutter) == 2
			margin-left  : (nth($gutter,1) / 2) + 0px
			margin-right : (nth($gutter,1) / 2) + 0px
			margin-bottom: nth($gutter,2) + 0px
		@content

// HolyGrail Layout Helper
@mixin holygrail($leftwidth:200px, $rightwidth:200px, $leftname:hg-left, $mainname:hg-main,$rightname:hg-right, $mode:lr)
	
	zoom: 1
	&:before,&:after
		content: ''
		display: table
	&:after
		clear: both

	@if $mode == lr
		padding-left  : $leftwidth + 0px
		padding-right : $rightwidth + 0px
		.#{$mainname},.#{$leftname},.#{$rightname}
			float    : left
			position : relative
		.#{$mainname}
			width : 100%
		.#{$leftname}
			width       : $leftwidth + 0px
			margin-left : 0 - ($leftwidth + 0px)

		.#{$rightname}
			width        : $rightwidth + 0px
			margin-right : 0 - ($rightwidth + 0px)

	@else if $mode == l
		padding-left: $leftwidth + 0px
		.#{$mainname},.#{$leftname},.#{$rightname}
			float: left
		.#{$mainname}
			width: 100%
		.#{$leftname}
			width       : $leftwidth + 0px
			margin-left : 0 - ($leftwidth + 0px)

		.#{$rightname}
			display: none

	@else if $mode == r
		padding-right: $rightwidth
		.#{$mainname},.#{$leftname},.#{$rightname}
			float: left
		.#{$mainname}
			width: 100%
		.#{$leftname}
			display: none

		.#{$rightname}
			width        : $rightwidth + 0px
			margin-right : 0 - ($rightwidth + 0px)

// Breaks the Holygrail Boxes 
@mixin holygrail-breaker($leftname:hg-left, $mainname:hg-main,$rightname:hg-right)
	padding: 0
	.#{$mainname},.#{$leftname},.#{$rightname}
		float   : left
		padding : 0
		margin  : 0
		width   : 100%

// Equalheight Mixin
@mixin equalheight($prefix: equalbox, $boxes: 2, $margin: 0)
	display      : table
	table-layout : fixed
	overflow     : hidden

	.#{$prefix}
		display        : table-cell
		vertical-align : top
		width          : percentage(1 / $boxes)
		@if $margin > 0
			@for $i from 2 through $boxes
				&:nth-child(#{$i})
					> div
						margin-left: unquote($margin + '%')
		> div
			padding-bottom : 100000px
			margin-bottom  : -100000px

@mixin equalheight-breaker($prefix:equalbox)
	display : block
	.#{$prefix}
		display : block
		width   : 100%
		div
			padding-bottom : 0px
			margin-bottom  : 0px
			margin-left    : 0px !important

// BaseLine Grid
@function lines($lines)
	@return $lines * $bodyLineHeight + 0px

@mixin lineCalc($lines)
	height: lines($lines)

@mixin baseLines($max)
	@for $i from 1 through $max
		.height-#{$i}
			height: lines($i)

@mixin baseLineImage($lines)
	+block
	width         : auto
	margin-bottom : $bodyLineHeight + 0px
	height        : lines($lines)

@mixin baselineTest($color: rgba($blue,0.5), $height: 1800px, $paddingtop: 2px)
	+absolute(0.1 0 0 0.1)
	height: $height + 0px
	width: 100%
	z-index: 9999
	+background-image(linear-gradient($color 1px, transparent 1px))
	+background-size(($bodyLineHeight + 0px) ($bodyLineHeight + 0px))
	background-position: 0 ($paddingtop + 0px)

@mixin gridTest($colums: 1, $color: rgba($blue,0.5), $height: 1800, $width: $siteMaxWidth)
	+absolute(0.1 0 0 0.1)
	width: 100%
	height: $height + 0px
	z-index: 99999
	.gradient
		margin: 0 auto
		height: $height + 0px
		width: $width + 4 + 0px
		border-left: (4 + 0px) solid $color
		+box-sizing(content-box)
		+background(linear-gradient( left, $color (4 + 0px), rgba(0,0,0,0.0) (4 + 0px) ))
		+background-size((columsize($colums)) 100%)
		background-position: 0 - 4 + 0px