// Reset

@if $reset == eric
	+global-reset
@else
	+normalize

@if $supportNewBoxModel == true
	*
		+box-sizing(border-box)
		@if $supportIE7	== true
			.ie7 &
				behavior: url(#{$polyfillHTCPath}/boxsizing.htc)
		
html
	font-size: 62.5%

body
	font-size: $bodyFontSize + 0px
	+font-smoothing(antialiased)
	background  : $bodyBackground
	font-family : $bodyFontFamily
	font-weight : normal
	line-height : $bodyLineHeight + 0px
	color       : $textColor 
	position    : relative

// Headings
#{headings(2,6)}
	text-rendering : optimizeLegibility
	@if $headerFontColor != false
		color: $headerFontColor
	@if $headerFontFamily != none
		font-family : $headerFontFamily
	small 
		font-size   : 60% 
		line-height : 0 

h1 // reserved for Logo [SEO!]
	margin      : 0
	padding     : 0
	line-height : 1

h2 
	font-size: $headingH2Size + 0px
	@if $headingH2LineHeight == auto
		line-height: (floor($headingH2Size * 1.2)) + 0px
	@else
		line-height: $headingH2LineHeight + 0px
	font-weight: $headingH2FontWeight
	@if $headingH2Margin != false
		margin-bottom: $headingH2Margin + 0px
	@else
		margin-bottom  : $headingMargin + 0px
	.subheader
		@if $headingH2Margin != false
			margin-top: 0 - $headingH2Margin + 0px
		@else
			margin-top: 0 -  $headingMargin + 0px
	+breakpoint($breakpoint)
		font-size: $headingH2Size * $typoresize + 0px
h3 
	font-size: $headingH3Size + 0px
	@if $headingH3LineHeight == auto
		line-height: (floor($headingH3Size * 1.2)) + 0px
	@else
		line-height: $headingH3LineHeight + 0px
	font-weight: $headingH3FontWeight
	@if $headingH3Margin != false
		margin-bottom: $headingH3Margin + 0px
	@else
		margin-bottom  : $headingMargin + 0px
	.subheader
		@if $headingH3Margin != false
			margin-top: 0 - $headingH3Margin + 0px
		@else
			margin-top: 0 -  $headingMargin + 0px
	+breakpoint($breakpoint)
		font-size: $headingH3Size * $typoresize + 0px		
h4 
	font-size: $headingH4Size + 0px
	@if $headingH4LineHeight == auto
		line-height: (floor($headingH4Size * 1.2)) + 0px
	@else
		line-height: $headingH4LineHeight + 0px
	font-weight: $headingH4FontWeight
	@if $headingH4Margin != false
		margin-bottom: $headingH4Margin + 0px
	@else
		margin-bottom  : $headingMargin + 0px
	.subheader
		@if $headingH4Margin != false
			margin-top: 0 - $headingH4Margin + 0px
		@else
			margin-top: 0 -  $headingMargin + 0px
	+breakpoint($breakpoint)
		font-size: $headingH4Size * $typoresize + 0px		
h5 
	font-size: $headingH5Size + 0px
	@if $headingH5LineHeight == auto
		line-height: (floor($headingH5Size * 1.2)) + 0px
	@else
		line-height: $headingH5LineHeight + 0px
	font-weight: $headingH5FontWeight
	@if $headingH5Margin != false
		margin-bottom: $headingH5Margin + 0px
	@else
		margin-bottom  : $headingMargin + 0px
	.subheader
		@if $headingH5Margin != false
			margin-top: 0 - $headingH5Margin + 0px
		@else
			margin-top: 0 -  $headingMargin + 0px
	+breakpoint($breakpoint)
		font-size: $headingH5Size * $typoresize + 0px		
h6 
	font-size: $headingH6Size + 0px
	@if $headingH6LineHeight == auto
		line-height: (floor($headingH6Size * 1.2)) + 0px
	@else
		line-height: $headingH6LineHeight + 0px
	font-weight: $headingH6FontWeight
	@if $headingH6Margin != false
		margin-bottom: $headingH6Margin + 0px
	@else
		margin-bottom  : $headingMargin + 0px

	.subheader
		@if $headingH6Margin != false
			margin-top: 0 - $headingH6Margin + 0px
		@else
			margin-top: 0 -  $headingMargin + 0px
	+breakpoint($breakpoint)
		font-size: $headingH6Size * $typoresize + 0px

// Paragraph
p 
	font-size     : $bodyFontSize + 0px
	line-height   : $bodyLineHeight + 0px
	margin-bottom : $paraMargin + 0px
	&.lead 
		font-size     : $bodyFontSize * 1.25 + 0px
		line-height   : $bodyLineHeight + 0px
		margin-bottom : $paraMargin * 0.9 + 0px
	a, a:visited
		line-height : inherit

// Links
a
	color       : $linkColor
	line-height : inherit
	outline     : 0
	@if $linkTextDeco == none
		text-decoration : none
	@else
		text-decoration : underline
	&:hover
		@if $linkTextDecoHover == none
			text-decoration : none
		@else
			text-decoration : underline
		color   : $hoverColor
		outline : 0
	&:focus
		color   : $focusColor
		outline : none
		outline : 0
	&:active, &.current, [class^="current-"] &,[class*=" current-"] &
		color: $activeColor

em, i
	font-style  : italic
	line-height : inherit

strong, b
	font-weight : bold
	line-height : inherit

small
	font-size   : 60%
	line-height : inherit

code 
	font-weight: bold 

abbr, acronym 
	text-transform : uppercase 
	font-size      : 90% 
	color          : #222 
	border-bottom  : 1px solid #ddd 
	cursor         : help 

abbr 
	text-transform : none 

// Lists
ul 
	list-style : none inside
	li.fork
		list-style-type : none

ul.square, ul.circle, ul.disc, ul.no-bullet,ol
	list-style-position : outside
	margin-bottom       : $listMargin + 0px
	li
		line-height : $listLineHeight + 0px
		font-size   : $listFontSize + 0px
	ul,ol
		margin-bottom : 0
		margin-left   : 19px

ul.square, ul.circle, ul.disc, ul.no-bullet
	margin-left: $bodyFontSize + 2 + 0px

ol
	margin-left     : $bodyFontSize * 2 + 0px
	list-style-type : decimal
ul.square 
	list-style-type : square 
ul.circle 
	list-style-type : circle  
ul.disc 
	list-style-type : disc 
ul.no-bullet 
	list-style : none 
ul.large li 
	line-height : 21px 

hr
	height         : $hrHeight + 0px
	background     : $hrColor
	border         : 0
	margin-top     : $hrMarginTop + 0px
	margin-bottom  : $hrMarginBottom + 0px
	
// Blockquotes
blockquote
	@if $bqBorderWidth > 0 
		border-left   : $bqBorderWidth solid $bqBorderColor
	padding       : 0 0 0 15px
	color         : $bqTextColor
	margin-bottom : $bqMargin + 0px
	p
		@if $bqFontFamily != none
			font-family: $bqFontFamily
		font-size     : $bqFontSize + 0px
		color         : $bqTextColor
		line-height   : $bqLineHeight + 0px
		margin-bottom : $bqMargin + 0px
		&:last-child
			margin-bottom : 0

	cite
		@if $bqFontFamily != none
			font-family: $bqFontFamily
		color       : $bqCiteColor
		font-size   : $bqFontSize  - 3px
		&:before
			content : '\2014 \0020'
	&.push
		float        : left
		padding      : 0 15px 0 15px
		width        : 200px
		margin-right : 15px
		&.small
			width : 150px
		&.medium  
			width : 300px
		&.large
			width : 400px
	&.rightPull
		text-align   : right
		border-left  : none
		border-right : $bqBorderWidth solid $bqBorderColor
		padding      : 0 15px 0 0
		cite
			&:before
				content : ''
			&:after
				content : '\0020 \2014'
		&.push
			float       : right
			margin-left : 15px

// Figures
figure
	margin        : 0
	margin-bottom : $figMargin

	figcaption
		font-size : $figCaptionSize
		color     : $figCaptionColor
		@if $figCaptionAlign != left
			text-align: $figCaptionAlign

